.search {
    position: relative;
}
.search-input {
    font-size: 16px;
    border: 1px solid #c2c2c2;
    padding: 0 25px 0 10px;
    border-radius: 4px;
    line-height: 32px;
}
.search-input:focus {
    border: 1px solid #c2c2c2;
    box-shadow: 0 0 3px 1px #00699d;
    outline: none;
}
.icon-search {
    color: #757575;
    font-size: 16px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon-search:hover {
    color: #333333;
}
