.btn {
    font-size: 20px;
    border: none;
    color: white;

    &.primary {
        background:blue;
    }
    &.success {
        background:green;
        
    }
    &.error {
        background:red;
        
    }
}



